@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    margin-top: 20px;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 100px;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
}

header .navigation {
    position: relative;
    padding-right: 50px;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-left: 150px;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(1, 2, 2, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 55px;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: lowercase;
    line-height: 70px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.home .content h1 span {
    font-size: 1em;
    font-weight: 900;
}

.home .content p {
    margin-bottom: 75px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }
    section {
        padding: 100px 20px;
    }
    home .media-icons {
        right: 15px;
    }
    header .navigation {
        display: none;
    }
    header.navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }
    .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }
    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1/20%);
    }
    .menu {
        color: #fff;
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.2s ease;
    }
    .menu.active {
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.2s ease;
    }
}